* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.cover {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.body {
   width: 59%;
   margin: auto;
   background: #f2f2f2;
   overflow: hidden;
}

.brand {
   padding: 15px;
   background: rgb(153, 255, 0);
   width: 100%;
   font-size: 1.5em;
   color: rgb(26, 23, 0);
   border-radius: 5px;
}

.sport {
   color: red;
}

.text1 {
   font-weight: 550;
   float: right;
}

p {
   display: inline;
   letter-spacing: 1px;
}

/* first part */
.first {
   padding: 0 30px;
   width: 100%;
   margin-top: 50px;
}

.first .text-box {
   margin: 30px 50px;
   width: 300px;
   color: #3f3f3f;
   font-weight: 550;
   text-align: center;
   font-size: 2.5em;
   float: left;
   border-radius: 20px;
}

.first .image1 {
   margin-left: 50px;
   float: left;
   width: 300px;
   height: 100%;
}

/* menu shirt and mix third*/
.second, .third {
   margin: 30px 0;
   float: left;
   width: 100%;
}

h1 {
   text-align: center;
   margin: 15px 0;
}

.menu-shirt {
   width: auto;
   height: 80vh;
   padding: 20px;
   background: rgb(219, 219, 219);
}

.box-1, .box-2 {
   margin: 10px 10px;
   overflow: hidden;
   float: left;
   width: 250px;
   height: 250px;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
   transition: .2s;
}

.img-1, .img-2 {
   width: 100%;
   height: 68%;
   margin-bottom: 10px;
}

.box-1:hover {
   transform: scale(1.025);
}

.price {
   color: red;
   margin-bottom: 6px;
}

.price, .detail {
   text-align: center;
   font-size: 1.3em;
}

.content {
   padding: 50px;
   background: rgb(50, 49, 49);
   width: 100%;
   height: 33vh;
   margin-top: 50px;
   color: #fff;
   font-size: 1.8em;
}

.left-box p {
   display: block;
   text-align: end;
}

.left-box, .right-box {
   float: left;
   width: 50%;
   padding: 20px;
}

.left-box {
   border-right: 5px solid #fff;
}

.copy {
   background: #000;
   color: #fff;
   padding: 15px;
   font-size: 1.3em;
}